.districtEnsembleDataFont {
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 12px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Helvetica";
}

.districtEnsembleRow:hover {
  cursor: pointer;
}
