.districtDataSummaryFont {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Helvetica";
}

.districtEnsembleRow:hover {
  cursor: pointer;
}
