.leftData {
  /* background-color: green; */
  width: 100%;
  height: 100%;
}

.accordion {
  width: 98%;
  left: 1%;
  right: 1%;
  margin-top: 2%;
}

.paper1 {
  width: 26%;
  height: 30px;
  margin-top: 2%;
  display: inline-block;
}

.paper2 {
  width: 68%;
  height: 30px;
  margin-top: 2%;
  margin-left: 2%;
  display: inline-block;
}

.formLabel {
  font-size: 16px;
  line-height: 24px;
  display: "flex";
}

.summaryInformation {
  font-size: 16px;
  line-height: 24px;
  float: left;
}

.form {
  width: 100%;
  height: 30px;
}

.select {
  width: 100%;
  height: 30px;
  font-size: 16px;
  line-height: 24px;
}

.paper2Header {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  align-self: center;
  margin-bottom: 3px;
  margin-right: 20px;
  color: black;
  /* font-family: "Lucida Console", "Courier New", monospace; */
  /* background-color: yellow; */
  /* float: left; */
}

.paper2Options {
  display: inline-block;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.paper2Content {
  width: 100%;
  height: 30px;
}

.paper22 {
  margin-left: auto;
  margin-right: auto;
}

.formControlLabel {
  width: 75px;
  height: 30px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.districtRow:hover {
  cursor: pointer;
}

/* .accordionHeader {
  font-family: "Lucida Console", "Courier New", monospace;
}

.selectState {
  font-family: "Lucida Console", "Courier New", monospace;
}

.radioGroup {
  font-family: "Lucida Console", "Courier New", monospace;
  font: Helvetica;
} */
