.tableCellES {
  padding-left: 10px;
  padding-right: 0px;
  line-height: 16px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  color: black;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.tableCellHeaderES {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-size: 16px;
  line-height: 18px;
  font-weight: 550;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.tableContainerES {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  left: 1%;
  right: 1%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-weight: 400;
}
