.headerContent {
  height: 50px;
}

/* .stateSelector {
  position: fixed;
  left: -500px;
  top: 5px;
  width: 200px;
} */

.form {
  background-color: white;
}

.mapSelection {
  position: fixed;
  left: 5px;
  width: 160px;
  height: 40px;
}

.inputLabel {
  width: 160px;
  height: 40px;
  top: 5px;
}
