.headerContent {
  height: 48px;
}

.form {
  width: 160px;
  height: 30px;
  top: 9px;
  left: 9px;
  float: left;
}

.select {
  background-color: #d3d3d3;
  color: black;
  width: 160px;
  height: 30px;
}
