.paper1 {
  width: 26%;
  height: 30px;
  margin-top: 2%;
  display: inline-block;
}

.form {
  width: 100%;
  height: 30px;
}

.paper2Ensemble {
  width: 68%;
  height: 30px;
  margin-top: 2%;
  margin-left: 2%;
  display: inline-block;
}

.paper2ContentEnsemble {
  width: 100%;
  height: 30px;
}

.paper2InsideEnsemble {
  /* margin-left: auto;
  margin-right: auto; */

  margin-left: 1%;
  float: left;
}

.paper2HeaderEnsemble {
  /* display: inline-block;
  font-size: 16px;
  line-height: 24px;
  align-self: center;
  margin-bottom: 3px;
  margin-right: 10px;
  /* margin-left: 10px; */
  /* color: black; */

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
  margin-left: 10px;
}

.paper2OptionsEnsemble {
  /* display: inline-block;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto; */

  display: inline-block;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
}

.formControlLabelEnsemble {
  /* background-color: palevioletred; */
  width: 110px;
  height: 30px;
  font-size: 14px;
  line-height: 26px;

  /* margin-left: auto;
  margin-right: auto; */
}

.formEnsemble {
  width: 100%;
  height: 30px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.paperBoxPlot {
  width: 95%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: auto;
  margin-right: auto;
}

.paperEnsembleSummary {
  width: 95%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: auto;
  margin-right: auto;
}

.accordionHeaderEnsemble {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 550;
  font-size: 17px;
  line-height: 18px;
}

.accordionEnsemble {
  width: 98%;
  left: 1%;
  right: 1%;
  margin-top: 2%;
}
