.mapGrid {
  height: calc(100vh - 22px);
}

.paperSS {
  width: 20%;
  /* display: inline-block; */
  margin-left: 0.6%;
  margin-right: 0.6%;
  float: left;
  margin-top: 1%;
  font-family: "Helvetica";
}

.paperDP {
  width: 23%;
  /* display: inline-block; */
  margin-left: 0.6%;
  margin-right: 0.6%;
  float: left;
  margin-top: 1%;
  font-family: "Helvetica";
}

.paperEP {
  width: 21%;
  margin-left: 0.6%;
  margin-right: 0.6%;
  float: left;
  margin-top: 1%;
  font-family: "Helvetica";
}

.resetButton {
  width: 100%;
  height: 30px;
  color: black;
}

.paperP2 {
  width: 15%;
  /* display: inline-block; */
  margin-left: 0.6%;
  margin-right: 0.6%;
  margin-top: 1%;
  float: left;
  font-family: "Helvetica";
}

.formD {
  height: 30px;
  font-family: "Helvetica";
  width: 100%;
}

.userOptions {
  width: 100%;
}

.select {
  width: 100%;
  height: 30px;
}

.formEP {
  height: 30px;
  width: 100%;
}

.switch {
  margin-left: 6px;
  height: 30px;
  width: 100%;
}

.filler {
  /* color: white; */
  font-size: 5px;
  height: calc(35px + 1%);
  display: inline-block;
}
